<aside class="side-menu" [class.is-open]="isMobileMenuOpen">
    <nav class="menu-nav">
        <ul class="menu-list">
            @for (item of menuItems; track item.name) {
                <li class="menu-item">
                    <a
                        [routerLink]="item.path"
                        routerLinkActive="is-active"
                        [routerLinkActiveOptions]="{exact: true}">

                        <i class="menu-icon" [class]="item.icon"></i>
                        <span class="menu-name">{{ item.name }}</span>
                    </a>
                </li>
            }
        </ul>
    </nav>
</aside>
